<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Get!</title>
</head>
<body>
    <h1>Your post has been processed!</h1>
    <h2>Post Contents</h2>
    <p>Name: <%= contact['first-name'] %> <%= contact['last-name'] %></p>
    <p>Job Title: <%= contact['job-title'] %></p>
    <p>Company: <%= contact.company %></p>
    <p>LinkedIn URL: <a href = "<%= contact.linkedin %>"><%= contact.linkedin %></a></p>
    <p>Email: <%= contact.email %></p>
    <p>How did we meet?: <%= contact.meet %> </p>
    <p>Other: <%= contact.other %></p>
    <p>Comment: <%= contact.comments %></p>
    <a href = "/guestbook">Return to the guestbook.</a>
    <p><a href ="/admin">(Don't go here.)</a></p>
</body>
</html>